 /* src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgb(51, 126, 191);
    color: #fff;
  }
  .Title .h1{
    display: inline-block;
  }
 
  .Title .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.762);
    font-weight: bold;
    text-decoration: none;
  }

  .Title .nav-link-active {
    color: #fff;
    border: 2px solid;
  }
  